@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@theme {
    --color-mediumGray: #898989;
    --font-sans: "Inter", sans-serif;
    --font-playfair: "Playfair Display", serif;
}

* {
    font-family: var(--font-sans);
}

.font-playfair {
    font-family: var(--font-playfair);
}